<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RP Test Suite" parallel="classes" thread-count="2">
    <test name="All Tests">
        <classes>
            <class name="com.epam.rp.ui.tests.SelenideUiTest"/>
            <class name="com.epam.rp.api.tests.ApacheApiTest"/>
        </classes>
    </test>
</suite>
