<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RP Test Suite">
    <test name="API Tests">
        <classes>
            <class name="com.epam.rp.api.tests.GetUserTest"/>
        </classes>
    </test>
    <test name="UI Tests">
        <classes>
            <class name="com.epam.rp.ui.tests.LoginTest"/>
        </classes>
    </test>
</suite>
